
    <h2 class="title">➿ Welcome to Nappy-App, an app to help you and encourage you through your nappy journey ➿ </h2>

<div class="main-content">
    <div class="product">
         <h3>What is "Nappy"?</h3>
        <img src="../../assets/images/cropped-new-curls-all-out.png" alt="">
        <p>Nappy stands for natural hair. This movment was born in the US in the 70's with the black panters. The philosophy of the Nappies is to accept your curls in order to accept yoyrself and to show that the white beauty isn't the only kind of beauty. For ages black and brown women have been forced to hide their nappy, frizzy, curly hair and straighten them in order to look more "normal". With Nappy App you can find the products that are good for your specific type of hair and organize your hair routine to let your natural beauty shine! ❤️</p>
    </div>
        <img src="../../assets/images/i-love-my-hair.png" alt="">

    <div class="product">
        <h3>why nappy app? </h3>
        <img src="../../assets/images/afro-hair.png" alt="">
        <p>Nappy App is here for you sis! We know the struggle of finding the right poduct for your type of hair, how complicated it is to find and organize your hair routines. With this app, you can retrive all the product that are good for your maine and organize your Nappy journey to embrace your natural beauty!</p>
    </div>
</div>


    <h2 class="title">Our services</h2>

<div class="main-content">
    
    <div class="product">
        <h2>Step 1</h2>
        <a routerLink="curls-infos"> 
            <img src="../../assets/images/my-curls-infos-logo.png" alt="">
        </a>
        <h3>First thing first, let us help you! You just need to go to your <a routerLink="curls-infos">Curls Infos</a> and answer our few questions 😌. Then we will be able to retrive the products that would be the best for you honey💋</h3>
    </div>

    <div class="product">
        <h2>Step 2</h2>
        <a routerLink="wish-list">
            <img src="../../assets/images/wish-list-logo.png" alt="">
        </a>
        <h3>Once we have all your curls infos, you can go to your <a routerLink="wish-list">Wish List</a> section and search for whatever you need: shampoo, conditionner, oil and many more! Check out all the good things we have fot you and if you're intrested in one product then just add it to your wish list sweety😘</h3>
    </div>

    <div class="product">
        <h2>Step 3</h2>
        <a routerLink="nappy-routine">
            <img src="../../assets/images/nappy-routine-logo.png" alt="">
        </a>
        <h3>As for the wish list section, the <a routerLink="nappy-routine">hair routine</a> is here for you! Just check our cool routines, add them to your list and schedule them according to your life!</h3>
    </div>

</div>
