
<h1>Your Hair Routines {{myUserServ.currentUser.name}}</h1>
<div class="main-content">
  <div class="routines" *ngFor=" let oneRoutine of myUserServ.currentUser.routines">
    <img [src]="oneRoutine.pictureUrl" />
    <h3>{{oneRoutine.name}}</h3>
    <!-- <p>{{oneRoutine.description}}</p>
      <a [href]="oneRoutine.video">see tutorial</a>  -->
      <button value="{{oneRoutine}}" (click)="deleteRoutine(oneRoutine)">Delete from my routines </button>
    </div>
  </div>



  <h1>Wanna add an other routine to yours??</h1>
<div class="main-content">
  <div class="routines" *ngFor=" let oneRoutine of routines">
    <img [src]="oneRoutine.pictureUrl" />
    <h3>{{oneRoutine.name}}</h3>
    <a [href]="oneRoutine.video">see tutorial</a>
    <!-- <p>{{oneRoutine.description}}</p> -->
    <button value="{{oneRoutine}}" (click)="addRoutineToRoutineList(oneRoutine)" >ADD TO MY ROUTINE LIST</button>
  </div>
</div>



    


