<span *ngIf="myUserServ.currentUser">
<h1 class= "title">Your hair routines {{myUserServ.currentUser.name}}</h1>
<div class="main-content">
  <div class="routines" *ngFor=" let oneRoutine of myUserServ.currentUser.routines, let i = index">
    <button class="delete" (click)="deleteRoutine(oneRoutine)">Delete from my routines </button>
    <img [src]="oneRoutine.info.pictureUrl" />
    <h4>{{oneRoutine.info.name}}</h4>
     
    <h3 class="routine-when">{{oneRoutine.when}}</h3>
    <form class="schedule-form"(ngSubmit)="routineWhen(oneRoutine, whenForm[i])" >
        <select class="schedule" *ngIf="!select" value="{{oneRoutine.when}}" [(ngModel)]="whenForm[i]" name="when"> 
         <option value="Monday">Monday</option>
         <option value="Tuesday">Tuesday</option>
         <option value="Wendnsay">Wendnsay</option>
         <option value="Thursay">Thursay</option>
         <option value="Friday">Friday</option>
         <option value="Saturday">Saturday</option>
         <option value="Sunday">Sunday</option>
       </select>
       <button class="schedule-button" >schedule this routine</button>
      </form>

  </div>
</div>



<h1 class= "title" >Need more routines?</h1>
<div class="main-content">
  <div class="routines" *ngFor=" let oneRoutine of routines">
    <button class="delete" value="{{oneRoutine}}" (click)="addRoutineToRoutineList(oneRoutine)" >ADD TO MY ROUTINE LIST</button>
    <img [src]="oneRoutine.pictureUrl" />
    <h3>{{oneRoutine.name}}</h3>
    <button><a [routerLink]="['/routine', oneRoutine._id]">See Routine Info</a></button>
  </div>
</div>
</span>


    


