<span *ngIf="myUserServ.currentUser">
<h1 class= "title">Your hair routines {{myUserServ.currentUser.name}}</h1>
<div class="main-content">
  <div class="routines" *ngFor=" let oneRoutine of myUserServ.currentUser.routines, let i = index">
    <button (click)="deleteRoutine(oneRoutine)">Delete from my routines </button>
    <img [src]="oneRoutine.info.pictureUrl" />
    <h4>{{oneRoutine.info.name}}</h4>
     <a [href]="oneRoutine.info.video">see tutorial</a>
 
    <h3 class="routine-when">{{oneRoutine.when}}</h3>
    <form class="schedule-form"(ngSubmit)="routineWhen(oneRoutine, whenForm[i])" >
        <select class="schedule" *ngIf="!select" value="{{oneRoutine.when}}" [(ngModel)]="whenForm[i]" name="when"> 
         <option value="Monday">Monday</option>
         <option value="Tuesday">Tuesday</option>
         <option value="Wendnsay">Wendnsay</option>
         <option value="Thursay">Thursay</option>
         <option value="Friday">Friday</option>
         <option value="Saturday">Saturday</option>
         <option value="Sunday">Sunday</option>
       </select>
       <button class="schedule-button" >schedule this routine</button>
      </form>
  </div>
</div>



<h1 class= "title" >NEED MORE ROUTINES?</h1>
<div class="main-content">
  <div class="routines" *ngFor=" let oneRoutine of routines">
    <img [src]="oneRoutine.pictureUrl" />
    <h3>{{oneRoutine.name}}</h3>
    <a [href]="oneRoutine.video">see tutorial</a>
    
        

  
    <!-- <p>{{oneRoutine.description}}</p> -->
    <button value="{{oneRoutine}}" (click)="addRoutineToRoutineList(oneRoutine)" >ADD TO MY ROUTINE LIST</button>
  </div>
</div>
</span>


    


