<span *ngIf="myUserServ.currentUser">
<h1 class= "title">Here is your wish-list {{myUserServ.currentUser?.name}}</h1>
<div class= "main-content">
<div class= "product" *ngFor ="let oneWish of myUserServ.currentUser?.wishList">
    <button value="oneWish" (click)="deleteProduct(oneWish)" > DELETE FROM WISHLIST </button>
    <img [src]="oneWish.pictureUrl" />
    <h3>{{oneWish.name}}</h3>
    <h3>{{oneWish.brand}}</h3>
   <button> <a [routerLink]="['/product', oneWish._id]">See Product Info</a></button>

</div>
</div>

<h1 class= "title">What are you looking for today?</h1>

<select [(ngModel)]="searchTerm.searchTerm" name="searchTerm">
    <option value="">Search...</option>
    <option value="shampoo">Shampoo</option>
    <option value="conditioner">conditioner</option>
    <option value="oil">Oil</option>
    <option value="masque">Masque</option>
    <option value="gel">Gel</option>
    <option value="hair spray">Hair Spray</option>
    <option value="scalp treatment">Scalp treatment</option>
    <option value="mousse">Mousse</option>
</select>
<button id="search-button" (click)="getProducts()">Search</button>


<div class= "main-content">
    <div class="product" *ngFor="let oneProduct of products">
            <button value="{{oneProduct}}" (click)="addProductToWishList(oneProduct)" >ADD TO MY WISH LIST</button>
<img [src]="oneProduct.pictureUrl" />
<h3>{{oneProduct.name}}</h3>
<h3>{{oneProduct.brand}}</h3>
<button>  <a [routerLink]="['/product', oneProduct._id]">See Product Info</a> </button>
 
</div>
 </div> 
 </span>
