span{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

nav{
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: space-around;

}

h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

img{
    border-radius: 12px;
}


button{
    font-size: 15px;
    margin-bottom: 30px;
    background-color:rgba(243, 210, 156, 0.795);
    width: 100 px;
    min-height: 40px;
    border-radius: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    color: black;
    text-decoration: transparent;
    width: 100 px;
    font-size: 15px;
}