<header>
<img id="logo" src="../assets/images/nappu.png" width="100px">
<span *ngIf="!myUserServ.currentUser">
  <button class="auth" > <a routerLink="signup">  SIGN UP  </a>  </button>
  <button class="auth"> <a routerLink="/login">  LOG IN  </a> </button>
</span>


<span *ngIf="myUserServ.currentUser">
  
  
  <nav>
    <button> <a routerLink="curls-infos">  MY CURLS INFOS  </a> </button>
    
    
    <button >  <a routerLink="wish-list">  MY NAPPY WISH LIST </a> </button>
    
    
    <button > <a routerLink="nappy-routine">  MY NAPPY ROUTINE  </a> </button>
    
    
    <button class="login-signup" (click)="logoutClick()"><a routerLink="/">LOG OUT</a></button>
  </nav>
  
  <h2>Welcome back, {{myUserServ.currentUser.name}}!</h2>
  <!-- <img class="profile" [src]="myUserServ.currentUser.pictureUrl" > -->
  
</span>
</header>

<router-outlet></router-outlet>



