<h1>NAPP APP</h1>

<span *ngIf="!myUserServ.currentUser">
<a routerLink="signup">  Sign Up  </a>
<a routerLink="/login">  Log in  </a>
</span>


<span *ngIf="myUserServ.currentUser">
  <b>Welcome back, {{myUserServ.currentUser.name}}!</b>
  <br/>
  <button (click)="logoutClick()">Log Out</button>
  <br/>

  <img [src]="myUserServ.currentUser.photo" width="300px">
  <br>
  <a routerLink="curls-infos">  My Culrs Infos  </a>
  <br>
  <a routerLink="wish-list">  My Nappy Wish List  </a>
  <br>
  <a routerLink="nappy-routine">  My Nappy Routine Schedule  </a>
</span>

<router-outlet></router-outlet>



