<h2 class="title">Sign Up</h2>

  <form (ngSubmit)="signupSubmit()" >

  <label>
    First Name:
    <input [(ngModel)]="signupForm.name" name="name" type="text" placeholder="Rick">
  </label>
  <br />

  <label>
    Email:
    <input [(ngModel)]="signupForm.email" name="email" type="text" placeholder="Pickle">
  </label>
  <br />

  <label>
    Password:
    <input [(ngModel)]="signupForm.originalPassword" name="originalPassword" type="password" placeholder="shhhhhh!">
  </label>
  <br />

  
  <button class="login-signup" >Submit</button>
</form>


