

/* 

input{
    margin-left: 20px;
    height: 40px;
    width: 500px;
    font-size: 20px;
}

h1{
    text-align: center;
    color: lightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
select{
    margin-left: 20px;
    height: 40px;
    width: 500px;
    font-size: 20px;
}
button{
    width: 70px;
    font-size: 15px;
    margin:auto;
    margin-bottom: 30px;
    background-color: lightblue;
    width: 100 px;
    min-height: 40px;
    border-radius: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 */
