<span *ngIf="myUserServ.currentUser">
  <h1>HERE ARE YOUR CURLS INFOS {{myUserServ.currentUser.name}}</h1>

<form (ngSubmit)="HairSubmission">

  <label> <h2>YOUR HAIR TYPE: </h2>
<input placeholder="{{myUserServ.currentUser.hairType}}" [(ngModel)]="hairForm.hairType" name="hairType" type="text" value="hairType" />
</label>
<label> <h2>YOUR HAIR LENGTH: </h2> 
<input placeholder="{{myUserServ.currentUser.hairLength}}" [(ngModel)]="hairForm.hairLength" name="hairLength" type="number" value="hairLength"/>cm
</label>
<label> <h2>YOUR HAIR VOLUME: </h2>
<input  placeholder="{{myUserServ.currentUser.hairVolume}}" [(ngModel)]="hairForm.hairVolume" name="hairVolume" type="text" value="hairVolume"/>
</label>
<label> <h2>YOUR HAIR MOISTURE: </h2>
<input placeholder="{{myUserServ.currentUser.hairMoisture}}" [(ngModel)]="hairForm.hairMoisture" name="hairMoisture" type="text" value="hairMoisture" />
</label>

<button (click)="hairInfoSubmit()">SAVE</button>
</form>
</span>